/*
Colors :
http://paletton.com/palette.php?uid=35C0u0kllllaFw0g0qFqFg0w0aF
*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Roboto+Slab:300,400');

* {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header-section,
.footer-section {
    background-color: #A8383B;
}


.header-section h1 {
  font-size: 3rem;
  text-align: center;
  font-size: 3rem;
  text-align: center;
  white-space: nowrap;
}


h2 {
  font-size: 3.5rem;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.button {
  display: block;
  border: solid #fff 0.2rem;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.portfolio-section {
  position: absolute;
  left: 0;
  background-color: #A7C763;
}

.service-section{
  position: absolute;
  right: 0;
    background-color: #577714;
}

.footer-section {
  position: absolute;
    bottom: 0;
  width: 100%;
  height: 10%;
  overflow: hidden;
}

.footer-section p{
  font-size: 1rem;
  padding: .7em 0;
  white-space: nowrap;
  text-align: center;

}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.portfolio-section {
  transition: 100ms all ease-in-out;
}

.hover-left .portfolio-section{
  width: 75%;
}

.hover-left .service-section{
  width: 25%;
}

.hover-right .service-section{
  width: 75%;
}

.hover-right .portfolio-section{
  width: 25%;
}
