@import '../vendor/css/sanitize.css';

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
}
a {
    text-decoration: none;
}

* {
    box-sizing: inherit;
}

body {
    height: 100vh;
    overflow-x: hidden;
   box-sizing: border-box;
    background : #FFF6F3;
    line-height: 1.2;
    font-family: 'Merriweather',
    serif;

}



header {
   background-image: linear-gradient(to right bottom, rgba(210, 28, 28, 0.7), rgba(209, 0, 62, 0.7), rgba(195, 8, 89, 0.8), rgba(195, 7, 89, 0.9)), url('https://images.pexels.com/photos/48207/sunset-sky-sun-cloud-48207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 90vh;
    position: relative;
    background-size: cover;
    background-size: 100%;
    background-position: center
    background-repeat: no-repeat;
    color: #FFF;
    letter-spacing: .2rem;
    box-shadow: 0 0 4rem #000;

    /*   width: 90vw;
  margin: 0 auto; */
    /*   clip-path: polygon(0 0, 100% 0, 100% 100%, 91% 82%, 80% 100%, -20% 100%); */
}

header::before,
header::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
    bottom: 0;
    z-index: -10;
}

header::before {
    right: 20%;
     transform: skew(0, 20deg);
     /* background-color: #98337e; */
     background-color: #c30759;
}

header::after {
    right: 10%;
     transform: skew(0, -20deg);
    background-color: #c30759;
}

.btn,
.btn:visited,
.btn:link {
    padding: .9rem;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
}

.btn--dark {
    background-image: linear-gradient(#98337e,#b0216e);
    box-shadow: 0 5px 20px 2px #000;
    color: #FFF;
    transition: all .2s;
    border-radius: 10px;
}

.btn--hire {
    margin-top: .5rem;
    margin-left: .5rem;
}

.btn--hire:hover,
.btn--hire:focus {
    transform: translateY(-.5rem);
}

.btn--hire:active {
    transform: translateY(.1rem);
        box-shadow : 2px 2px 20px #000;
}

.btn--light {
    color:#98337e;
    font-weight: 700;
    border-bottom: 2px solid #98337e;
}

a.btn--blog {
     margin-left: 40rem;
     margin-top: 4rem;
     font-weight: 700;
}

.btn--light:hover {
     background-image: linear-gradient(#98337e, #b0216e);
     box-shadow: 0 5px 20px 2px #000;
     border-radius: 10px;
     color: #FFF;
    font-weight: 400;
}


.nav-bar {
    display: flex;
    justify-content: flex-end;
}

.nav-bar__item {
    padding: 1.5rem;
    font-size: 1rem;
    color: #FFF;
    transition: all .2s;
    border-radius: 1rem;
    display: inline-block;
}

.nav-bar__item:hover {
    /* color: #614787;
    border-bottom: #614787 solid 2px; */
    background-color: #98337e;
    transform: translateY(1rem);
}

.heading {
    /* margin-left: 1rem; */
    margin-top: 10rem;
    padding: rem;
    /* width: 40vw; */
    text-transform: uppercase;
    /* box-shadow : 10px 9px 50px 20px rgba(53, 50, 127, .3); */
    text-align: center;
    padding: 1em;
    /* transform: translateY(2rem); */

}

.heading__title,
.heading__text,
.btn--hire {
    margin-bottom: 2rem;
}

.heading__title {
    text-shadow: 3px 2px 20px#000;
}

.heading__text {
    text-shadow: 1px 2px 20px #000;
}


.btn-section {
    position: relative;
    border-bottom: #FFF 2px solid;
    width: 50%;
    margin: 0 auto;
}

.social__links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.social__links--item {
    font-size: 2.5rem;
    color: currentColor;
    padding-right: 5rem;
}

.social__links--item:hover {
    color: #98337e;
}


.about__text {
    margin-left: 5rem;
    line-height: 2;
}

.about-section {
    padding: 5rem 0;
    display: flex;
    height: 50%;
}

.section__title {
    margin-left: 2rem;
    background-image: linear-gradient(to right bottom, #d21c1c, #cf003e, #c30859);
    display: inline-block;
    -webkit-background-clip: text;
    font-weight: 700;
}

.about__title {
    font-size: 2rem;
}

.about__left {
    width: 60%;
    padding: 2rem;
    margin: 0;
}

.about__right {
    width: 40%;
    position: relative;
    /* transform: skew(-10deg); */
    margin-right: 2rem;
    position: relative;
}

.about__pic {
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
    height: 12rem;

}

.about__pic:hover {
    transform: scale(1.2);
    box-shadow : 0 2rem 3rem rgba(0, 0, 0, 0.5);
    z-index: 222;
    outline: 1rem solid rgb(195, 8, 89);
    outline-offset: .5rem;
}

.pic--1 {
    top: 2rem;
    right: 19rem;
}

.pic--2 {
    top: 10rem;
    right: 10rem;
    z-index: 11;
}

.pic--3 {
    top: 2rem;
    right: 1rem;
}

.portfolio-section {
    position: relative;
}

.portfolio__title {
    padding: 5rem 4rem;
    background: linear-gradient(to right bottom, #d21c1c, #cf003e, #c30859);
    box-shadow: 0 0 4rem #000;
    color: #FFF;
    position: relative;
    text-align: center;
}

.portfolio__title, .services__title {
    letter-spacing: 3px;
    font-size: 2.5rem;
}


.portfolio__title::before,
.portfolio__title::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 18%;
    bottom: 0;
    z-index: -111
}

.portfolio__title::after {
    background-color: #c30859;
    right: 15.1%;
    transform: skew(0, 20deg);
}

.portfolio__title::before {
    background-color: #c30859;
    right: 5.2%;
    transform: skew(0, -20deg);
}

.portfolio-section::before,
.portfolio-section::after {
    content: "";
    position: absolute;
    width: 16.2%;
    height: 5%;
    top: 1%;
    z-index: -10;
}

.portfolio-section:before {
    left: 15.1%;
     transform: skew(0, 20deg);
     background-color: #d21c1c;
}

.portfolio-section::after {
    left: -1%;
     transform: skew(0, -20deg);
    background-color: #d21c1c;
}


.project {
    background-color: #c30859;
    height: 60vh;
    width: 30vw;
}

/* Grid Layout */

.portfolio__projects {
    display: grid;
    
    grid-template-columns: 1rem 1fr 2fr 1fr 2fr 1rem;
    grid-template-rows: 100px repeat(2, 2fr);
    grid-gap: 2rem;
}

.project-1 {
    grid-column: 2/3;
    grid-row: 2/3
}

.project__description--1 {
    grid-column: 3/4;
    grid-row: 2/3

}

.project-2 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.project__description--2 {
    grid-column: 5/6;
    grid-row: 2/3;
}

.project-3 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.project__description--3 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.project-4 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.project__description--4 {
    grid-column: 5/6;
    grid-row: 3/4;
}

.service-section {
    padding: 5rem 0;
    background: linear-gradient(to right bottom, #d21c1c, #cf003e, #c30859);
    margin-top: 5rem;
    color: #fff;
    text-align: center;
}

.services {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    margin: 0 auto;
}

.service {
    box-shadow: 0 0 0 .5rem #c30859,
                0 0 0 .7rem #FFF6F3,
                0 0 0 1rem #c30859;
    padding: 2rem;
    margin: 3rem 2rem;
    border-radius: 10px;
}

.contact-section {
    text-align: center;
    position: relative;
    margin: 5rem 0;
}

.contact__title {
    font-size: 2rem;
    text-align: center;
}


.form {
    width: 50%;
    margin: 0 auto;
}

input, select, label, textarea {
    display: block;
    width: 80%;
    text-align: left;
}

footer {
    background-image: linear-gradient(to right bottom, rgba(210, 28, 28, 0.5), rgba(209, 0, 62, 0.5), rgba(195, 8, 89, 0.8), rgba(195, 7, 89, 0.9)), url('https://images.pexels.com/photos/48207/sunset-sky-sun-cloud-48207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-size: cover;
    height: 30vh;
    color: #fff;
}