//Colors

$color-dark-red: #540002;
$color-medium-red: #7E1518;
$color-main-red: #A8383B;

$color-medium-pink: #D3696C;
$color-light-pink: #FDA9AB;

$color-white: #FFF;
$color-black: #000;
$color-light-gray: #EEE;

//
