.btn {
  text-decoration: none;
  color: $color-white;
  border: .2rem solid $color-dark-red;
  background-color: $color-dark-red;
  padding: .8rem;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);

}
