#portfolio {
  @include clearfix;
}

.portfolio-container {
  height: 40vh;
  float: left;
  background-color: $color-main-red;
  margin-right: .5rem;
  margin-top: .3rem;
  width: 29%;

  &:first-child {
    margin-left: 5rem;
  }
}
